
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Merriweather', serif;
}

/*HEADER & NAV*/
.header {
    background-color: #fff;
    padding: 0 5rem 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text-nav {
    align-self:  center;
    text-transform: uppercase;
}
.nav {
    height: 100%;
}
.list {
    height: 100%;
    display: flex;
}
.list li {
    height: 100%;
    list-style-type: none;
}
li a {
    height: 100%;
    padding-right: 5rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*SECCION PRIMARIA*/
.primary {
    height: 90vh;
    width: 100%;
    background-image: url(/imgs/showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.conteiner-primary {
    width: 50%;
    height: 60%;
    text-align: right;
    padding-right: 5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.title-primary {
    font-size: 7rem;
    font-weight: 100;
}
.text-primary {
    line-height: 2.5rem;
}
.space {
    padding-bottom: 3rem;
}
.button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid #000;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    width: 10rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}