
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Merriweather', serif;
}

/*HEADER & NAV*/
.header {
    background-color: #fff;
    padding: 0 5rem 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text-nav {
    align-self:  center;
    text-transform: uppercase;
}
.nav {
    height: 100%;
}
.list {
    height: 100%;
    display: flex;
}
.list li {
    height: 100%;
    list-style-type: none;
}
li a {
    height: 100%;
    padding-right: 5rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*SECCION PRIMARIA*/
.primary {
    height: 90vh;
    width: 100%;
    background-image: url(/imgs/showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.conteiner-primary {
    width: 50%;
    height: 60%;
    text-align: right;
    padding-right: 5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.title-primary {
    font-size: 7rem;
    font-weight: 100;
}
.about p,
.card-services p,
.text-primary {
    line-height: 3rem;
}
.space {
    padding-bottom: 3rem;
}
.button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid #000;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    width: 10rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

/*SERVICES*/
.services {
    padding: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.services .title {
    width: 100%;
    text-align: center;
    font-size: 5.5rem;
    font-weight: 100;
}
.card-services {
    width: 33%;
    min-width: 35rem;
    padding: 5rem;
}
.card-services h3 {
    margin-bottom: 1rem;
}

/*ABOUT*/
.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    padding-top: 5rem;
}
.about .title {
    width: 100%;
    text-align: center;
    font-size: 5.5rem;
    font-weight: 100;
}
.conteiner-about {
    width: 50%;
    min-width: 35rem;
    padding: 5rem;
}
.conteiner-about p {
    margin-bottom: 3rem;
}
.about-bold {
    font-weight: bold;
}
.cite {
    font-style: italic;
}

/*FORM CONTACT*/
.footer {
    width: 100%;
    height: 100vh;
    margin-bottom: 3rem;
}
.form {
    margin: auto;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer .title {
    text-align: center;
    font-size: 5.5rem;
    font-weight: 100;
    margin-bottom: 5rem;
}
.form label {
    display: flex;
    flex-direction: column;
}
label span {
    margin-bottom: 2rem;
}
label input {
    height: 5rem;
    background-color: #f2f2f2;
    border: none;
}
label textarea {
    /* width: 100%;
    height: 20px; */
    resize: none;
    background-color: #f2f2f2;
    border: none;
}
.button-form {
    height: 5rem;
    width: 100%;
    background-color: #000;
    color: #fff;
}